import re
hand = open('C:\\my\\code\\mbox.txt')
mylist=list()
count=0
for line in hand:
    line = line.rstrip()
    x= re.findall('^From .*[a-zA-Z0-9]+@.*[0-9]+', line)
    y= re.findall('^To:.*[a-zA-Z0-9]+', line)
    if len(x)>0:
        print x
    elif len(y)>0:
        print y,'\n'
# description how cut two lines from files
import re
hand = open('C:\\my\\code\\mbox.txt')
mylist=list()
count=0
for line in hand:
    line = line.rstrip()
    x= re.findall('^From .\S[a-zA-Z0-9]+@\S+.*[0-9]+', line)
    y= re.findall('^To:.*[a-zA-Z0-9]+', line)
    if len(x)>0:
        for a in x:
            print a
    elif len(y)>0:
        for b in y:
            print b,'\n'
creating mailing list
import re
hand = open('C:\\my\\code\\mbox.txt')
mylist=list()
count=0
for line in hand:
    line = line.rstrip()
    line= re.findall('^From: (.*[a-zA-Z0-9]+.*)', line)
    if len(line) > 0:
        #print line

        for x in line:
        #print x
            if line not in mylist:
                mylist.append(line)
#print lst

for y in mylist:
    print y
